*{
    font-family: 'Roboto', sans-serif;
    scroll-snap-type: y proximity;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    
}